@import url('../../../../styles');

:host {
  display: inline-block;
  width: 60px;
  color: @app-white-color;
  &.live {
    color: @app-blue-text-color;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 8px;
  }
}
