@import url('../../../../styles');

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  color: white;
  padding: 10px 25px;

  &.live {
    background: white;
  }
  &.planned {
    .game-info {
      .day {
        color: @app-yellow-text-color;
      }
    }
  }
  &.clickable {
    cursor: pointer;
  }
  .game-info {
    display: flex;
    flex-direction: column;
    & > span {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      padding-bottom: 7px;
      line-height: 17px;
    }
    .round {
      font-size: 12px;
      color: @app-white-color;
      &.live {
        color: @app-blue-text-color;
      }
    }
    .day {
      color: @app-grey-text-color;
    }
    .currently-play {
      color: @app-gold-text-color;
    }
    .score {
      font-size: 30px;
      line-height: 31px;
      color: @app-white-color;
    }
  }
}
