<app-team-avatar [team]="game.homeTeam" [class]="class"></app-team-avatar>
<div class="game-info">
  <span class="round" [class]="class">{{game.roundText}}</span>
  <span class="day" *ngIf="class !== gameState.LIVE">
    {{ 'days.' + dayKey | translate}}
    {{ date }}
  </span>
  <span class="currently-play" *ngIf="class === gameState.LIVE">
    {{ 'game.currently-play' | translate }}
  </span>
  <app-score [score]="game.score" [class]="class"></app-score>
</div>
<app-team-avatar [team]="game.visitorTeam" [class]="class"></app-team-avatar>
