@import url('../../../../styles');

:host {
  app-game-row {
    &:not(:nth-of-type(1)) {
      border-top: 1px solid #6D6FB0;
    }
  }
  .group-title {
    display: block;
    background: #213476;
    height: 32px;
    line-height: 32px;
    color: @app-yellow-text-color;
    text-align: center;
    text-transform: uppercase;
  }
}
