<app-game-group [games]="games" [gameState]="gameState.LIVE"></app-game-group>
<app-game-group [games]="games" [gameState]="gameState.PLANNED"></app-game-group>
<app-game-group [games]="games" [gameState]="gameState.FINISHED"></app-game-group>
