<div class="header-layout phone-bar">
  <div class="left">
    <mat-icon>signal_cellular_alt</mat-icon>
    <mat-icon>wifi</mat-icon>
  </div>
  <div class="center">
    <span>11:06</span>
  </div>
  <div class="right">
    <span class="battery-percentage">100%</span>
    <mat-icon class="battery">battery_full</mat-icon>
  </div>
</div>
<div class="header-layout menu-bar">
  <div class="left">
    <mat-icon class="navigation-icon" (click)="iconClickHandler()">{{icon}}</mat-icon>
  </div>
  <div class="center">
    <span class="route-name">{{title | translate}}</span>
  </div>
  <div class="right bottom">
    <mat-icon (click)="refreshHandler()" >refresh</mat-icon>
    <mat-icon [matMenuTriggerFor]="menu">language</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang)">
        {{ "languages." + lang | translate }}
      </button>
    </mat-menu>
  </div>
</div>
