@import url('../../../styles');

.item-header {
  flex: 1;
  display: flex;
  align-items: center;
}

.side-header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

:host {
  display: block;
  font-weight: bold;
  height: 70px;
  padding: 8px;
  background: @app-header-background;

  .header-layout {
    display: flex;
    .left {
      .item-header();
      .side-header();
      justify-content: flex-start;
    }
    .center {
      .item-header();
      justify-content: center;
    }
    .right {
      .item-header();
      .side-header();
      justify-content: flex-end;

      &.bottom mat-icon {
        cursor: pointer;
        height: 35px;
        width: 35px;
        font-size: 35px;
        padding-right: 10px;
      }
    }
    .battery {
      transform: rotate(90deg);
    }
  }

  .phone-bar {
    height: 20px;
    .battery-percentage {
      padding-right: 5px;
    }
  }

  .menu-bar {
    height: inherit;
    .route-name {
      font-size: 25px;
    }
    .navigation-icon {
      cursor: pointer;
      height: 41px;
      width: 41px;
      font-size: 41px;
    }
  }
}
.mat-menu-item {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
