@import url('../../../../styles');

.circle-width {
  stroke-width: 2.2;
}

:host {
  display: block;
  width: 115px;

  .circular-chart {
    display: block;
    margin: 10px auto;
  }

  .circle-bg {
    .circle-width();
    fill: none;
    stroke: #2C4290;
  }

  .circle {
    .circle-width();
    fill: none;
    animation: progress 1s ease-out forwards;
    stroke: @app-yellow-text-color;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .percentage {
    font-weight: bold;
    fill: @app-white-color;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
}
