@import url('../../../../styles');

.line-width {
  stroke-width: 3.6;
}

:host {
  display: block;
  width: 100%;
  height: 20px;
  .line-chart {

  }
  .line {
    .line-width();
    fill: none;
    animation: progress 1s ease-out forwards;
    stroke: @app-yellow-text-color;
  }
  .line-bg {
    .line-width();
    fill: none;
    stroke: #2C4290;
    stroke-width: 3;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
}
