<svg viewBox="0 0 100 10" class="line-chart" preserveAspectRatio="none">
  <path d=" M 0,5 h 100 "
        class="line-bg"></path>
  <path d=" M 0,5 h 100 "
        [attr.stroke-dasharray]="strokeDasharray"
        class="line"></path>
</svg>
