@import url('../../../../styles');

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > * {
    padding-top: 10px;
  }

  span {
    text-align: center;
    text-transform: uppercase;
    color: @app-white-color;
  }
  .attendance-count {
    font-weight: bold;
  }
}
