<div class="row">
  <span>{{game.homeTeam.penalty}}</span>
  <span class="title">{{"game.statistics.penalties" | translate}}</span>
  <span>{{game.visitorTeam.penalty}}</span>
</div>
<div class="row">
  <span>{{game.homeTeam.ppGoals}}</span>
  <span class="title">{{"game.statistics.power-play-goals" | translate}}</span>
  <span>{{game.visitorTeam.ppGoals}}</span>
</div>
<div class="row">
  <span>{{game.homeTeam.shGoals}}</span>
  <span class="title">{{"game.statistics.penalty-killing-goals" | translate}}</span>
  <span>{{game.visitorTeam.shGoals}}</span>
</div>
<div class="row">
  <span>{{game.homeTeam.shotsOnGoal}}</span>
  <span class="title">{{"game.statistics.shots-on-goals" | translate}}</span>
  <span>{{game.visitorTeam.shotsOnGoal}}</span>
</div>
