@import url('../../../../styles');

:host {
  display: block;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @app-yellow-text-color;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

    &:not(:nth-of-type(1)) {
      border-top: 1px solid #6D6FB0;
    }

    .title {
      color: @app-white-color;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
}
