<div class="content">
  <div class="teams">
    <app-team-avatar [team]="game.homeTeam" [class]="class"></app-team-avatar>
    <div class="game-info">
    <span class="day">
      {{game.dateStartText.split(' ')[0]}} - {{ 'game.end-text' | translate}}
    </span>
      <app-score [score]="game.score" [class]="class"></app-score>
    </div>
    <app-team-avatar [team]="game.visitorTeam" [class]="class"></app-team-avatar>
  </div>
  <app-game-face-offs [game]="game"></app-game-face-offs>
  <app-game-attendance [game]="game"></app-game-attendance>
  <app-game-statistics [game]="game"></app-game-statistics>
</div>
