@import url('../../../styles');

:host {
  .app-content();
  .content {
    padding: 20px 20px 0 20px;

    app-game-face-offs,
    app-game-attendance,
    app-game-statistics {
      padding-top: 20px;
    }
  }
  .teams {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .game-info {
      display: flex;
      flex-direction: column;
      .day {
        color: @app-grey-text-color;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        padding-bottom: 7px;
        line-height: 17px;
      }
    }
  }
}
