@app-white-color: #FFFFFF;
@app-header-background: #FCE700;
@app-blue-text-color: #2C2D7A;
@app-grey-text-color: #C8C8C8;
@app-yellow-text-color: #FCE700;
@app-gold-text-color: #D8BB1E;
@app-width: 416px;
@app-height: 720px;
@app-bottom-offset: 85;

.app-content {
  display: block;
  margin-right: -67px;
  padding-right: 50px;
  overflow-y: scroll;
  height: @app-height - @app-bottom-offset;
}

app-root {
  position: relative;
  display: block;
  background: linear-gradient(#22246B 0%, #3A3C9C 20%, #3D3FA1 40%, #373997 60%, #2B2C83 80%, #232577 100%);
  width: @app-width;
  height: @app-height;
  margin: 0 auto;
  overflow: hidden;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;

  .screen-loader{
    width: 100%;
    .overlay();
  }
}

.overlay {
  background-image: url("assets/images/app-start-screen.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  visibility: visible;
  transition: visibility 0s, opacity 0.4s linear;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: wait;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
