@import url('../../../../styles');

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .face-offs-text {
    color: @app-white-color;
    text-transform: uppercase;
  }
}
